.asif {
  height: 1248px;

  @media (max-width: 768px) {
    height: auto;
  }
  h2 {
    color: var(--Text_White, #fff);

    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
  }

  p {
    color: var(--Text_White, #fff);
    text-align: center;

    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  display: flex;
  flex-direction: column;

  background-color: rgb(240, 8, 8);

  #sub-1 {
    display: flex;
    flex-direction: column;
    background: #434ccc;
    height: 480px;
    @media (max-width: 768px) {
      height: auto;
    }

    .upper {
      text-align: center;
      height: 252px;

      h1 {
        color: var(--Text_White, #fff);
        text-align: center;

        /* H1 */
        font-family: DM Serif Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
      }
      p {
        width: 770px;
        text-align: center;
        margin: auto;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 228px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        height: auto;
        .item {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .item {
        display: flex;
        flex-direction: column;
      }

      p {
        color: var(--text-white-50, rgba(255, 255, 255, 0.5));
        text-align: center;

        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: 0px;
      }

      h1 {
        color: var(--Text_White, #fff);
        text-align: center;
        margin-bottom: 0px;

        font-family: DM Serif Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px;
      }
    }
  }

  .sub2 {
    display: flex;
    background-color: #f5f6fc;
    height: 768px;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      height: auto; // Adjust height for mobile if necessary
      flex-direction: column; // Stack children vertically on mobile
      padding: 20px 0; // Add some padding at the top and bottom (optional)
    }
    .wrap {
      display: flex;
      justify-content: space-between;
      // background-color: rgb(109, 107, 131);
      height: 70%;
      width: 80%;

      @media (max-width: 768px) {
        flex-direction: column; // Stack children vertically on mobile
      }

      .chx1 {
        width: 45%;
        // margin-top: -70px;

        // background-color: aqua;

        h1 {
          color: var(--Text_Black, #000);
          margin-top: 0px;

          /* H2 */
          font-family: DM Serif Display;
          font-size: 56px;
          font-style: normal;
          font-weight: 400;
          line-height: 64px; /* 114.286% */
        }
        p {
          color: var(--Text_Black, #000);

          /* Text_Big */
          font-family: DM Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 160% */
          text-align: left;

          width: 338px;
          height: 230px;
          flex-shrink: 0;
        }
        .ex {
          width: 170px;
          height: 48px;
          flex-shrink: 0;
          background-color: transparent;

          @media (max-width: 768px) {
            margin-top: 33px;
            margin-bottom: 72px;
          }
        }
      }

      .chx2 {
        display: grid;
        width: 50%;
        gap: 8% 5%;
        width: 80%;
        padding-top: 60px;

        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 768px) {
          grid-template-columns: 1fr; // Single column on mobile
          width: 100%; // Make sure it takes the full width

          .card {
            width: 100%; // Ensure each card takes full width
            // Any additional styling needed for mobile
          }
        }

        // background-color: #434ccc;
        .card {
          display: flex;
          // background-color: aquamarine;

          .con {
            margin-left: 20px;
          }

          h4 {
            margin-top: 0px;
            color: var(--Text_Black, #000);

            /* H4 */
            font-family: DM Serif Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
          }

          p {
            color: var(--text-black-50, rgba(0, 0, 0, 0.5));

            /* Text_Gray */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            width: 270px;
            text-align: left;
            margin-top: -25px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    #sub-1 {
      height: auto; // Allow #sub-1 to expand to fit all its children

      .upper {
        p {
          color: var(--Text_White, #fff);
          text-align: center;
          width: 346px;

          /* Text_Big */
          font-family: DM Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 160% */
        }
      }
    }
  }
}
