#parent {
  width: 100%;
  height: 6144px;
  box-sizing: border-box;
  background-color: rgb(169, 253, 225);
}

body {
  margin: 0px;
  padding: 0px;
}

.rahul {
  height: 2608px;
  background-color: white;
}

.about {
  background-color: #434ccc;
  padding: 0px 135px;
}
.about nav {
  height: 80px;
  background-color: #434ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about nav .logo h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  cursor: pointer;
}
.about nav .links {
  width: 534px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about nav .links a {
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.about nav .links button {
  height: 48px;
  width: 170px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(67, 76, 204);
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.about nav .links svg {
  display: none;
}

.upper2 {
  height: 224px;
  background-color: #434ccc;
}
.upper2 h1 {
  padding-top: 47px;
  color: var(--Text_White, #fff);
  text-align: center;
  /* H1 */
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  margin-bottom: 0px;
}
.upper2 p {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #parent .rahul {
    height: auto;
  }
  #parent .rahul .about {
    padding: 0px 14px;
  }
  nav {
    width: 90%;
    height: 32px;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
  }
  nav .logo {
    width: 62px;
    height: 32px;
  }
  #parent .rahul .about nav .links {
    justify-content: end;
    justify-items: end;
  }
  #parent .rahul .about nav .links a {
    display: none;
  }
  #parent .rahul .about nav .links button {
    display: none;
  }
  #parent .rahul .about nav .links svg {
    align-items: center;
    flex-shrink: 0;
    display: block;
    position: absolute;
  }
  #parent .rahul .standv {
    margin-bottom: -300px;
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #parent .rahul .standv .contentdebet .subcontent {
    display: flex;
    flex-direction: column;
  }
  #parent .rahul .twoperson img {
    position: relative;
    top: 0px;
    left: -170px;
    width: 110%;
  }
  #parent .buscar {
    height: auto;
  }
  #parent .buscar .onetwo {
    margin-left: -50px;
    font-size: 45px;
  }
  #parent .buscar .tunekya br {
    display: none;
  }
  #parent .house {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
  }
  #parent .shakehands {
    height: -moz-fit-content;
    height: fit-content;
    grid-template-columns: repeat(1, 1fr);
  }
  #parent .handimg {
    margin-left: -200px;
  }
  #parent .handcontent .deterr {
    font-size: 43px;
  }
  #parent .handcontent .mazim {
    font-size: 18px;
  }
  #parent .handcontent .mazim .nextlinedrop {
    display: block;
  }
  #parent .handcontent .mazim .shouldshow {
    display: block;
  }
  #parent .handcontent .mazim .shouldhide {
    display: none;
  }
}
.standv {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f5f6fc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 100px;
  padding-top: 80px;
  padding-left: 135px;
}
.standv .contentdebet .homero {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 93px;
  height: 24px;
  margin-bottom: -50px;
}
.standv .contentdebet .headcheck {
  font-size: 56px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 411px;
  height: 128px;
}
.standv .contentdebet .quo {
  font-size: 20px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 570px;
  height: 83px;
}
.standv .contentdebet .subcontent {
  display: flex;
  margin-top: -50px;
}

.number {
  font-size: 40px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 86px;
  height: 48px;
}

.vocent {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 700;
  color: rgb(0, 0, 0);
  width: 114px;
  height: 24px;
}

.nominavi {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 270px;
  height: 49px;
  opacity: 50%;
}

.twoperson img {
  position: absolute;
  right: 105px;
  top: 355px;
  left: 520px;
}

.notone {
  height: 1px;
  opacity: 0.0974;
  background: #000;
  margin-bottom: 0px;
}

.buscar {
  height: 768px;
  background-color: #f5f6fc;
  margin-top: -56px;
  text-align: center;
  padding-top: 100px;
  justify-content: center;
}
.buscar .onetwo {
  font-size: 56px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 469px;
  height: 64px;
  margin-left: 520px;
}
.buscar .house {
  margin: 0px 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.buscar .house .housemini {
  background-color: white;
  padding: 60px 0px 0px 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.buscar .house .housemini .househead {
  font-size: 24px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 162px;
  height: 32px;
}
.buscar .house .housemini .nexthead {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 306px;
  height: 48px;
  opacity: 50%;
  text-align: left;
}
.buscar .house .housemini .learnkaro {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: left;
  height: 24px;
}

.shakehands {
  height: 768px;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 100px;
  padding-bottom: 170px;
  background-color: #f5f6fc;
}
.shakehands .handimg {
  height: 570px;
}
.shakehands .handcontent {
  height: 570px;
  margin-top: 127px;
}
.shakehands .handcontent .inci {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  color: rgb(0, 0, 0);
  width: 127px;
  height: 24px;
}
.shakehands .handcontent .deterr {
  font-size: 56px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 478px;
  height: 64px;
}
.shakehands .handcontent .mazim {
  font-size: 20px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 570px;
  height: 69px;
}
.shakehands .handcontent .mazim .nextlinedrop {
  display: none;
}
.shakehands .handcontent .mazim .shouldshow {
  display: none;
}
.shakehands .handcontent .starcontent {
  display: flex;
  gap: 23px;
  margin-bottom: 2px;
}
.shakehands .handcontent .starcontent .starcontentmaterial {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 216px;
  height: 24px;
  opacity: 50%;
}
.shakehands .handcontent .explorekaro {
  margin-top: 50px;
  background-color: #434ccc;
  cursor: pointer;
  width: 170px;
  height: 48px;
  font-family: "DM Sans";
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
.shakehands .handcontent .learnkaro {
  margin-left: 30px;
  border-color: #BCC0ED;
  cursor: pointer;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  color: #434ccc;
  font-family: "DM Sans";
  font-weight: 700;
  background-color: #f5f6fc;
}

.asif {
  height: 1248px;
  background-color: #434ccc;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 8, 8);
}
@media (max-width: 768px) {
  .asif {
    height: auto;
  }
}
.asif h2 {
  color: var(--Text_White, #fff);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.asif p {
  color: var(--Text_White, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.asif #sub-1 {
  display: flex;
  flex-direction: column;
  background: #434ccc;
  height: 480px;
}
@media (max-width: 768px) {
  .asif #sub-1 {
    height: auto;
  }
}
.asif #sub-1 .upper {
  text-align: center;
  height: 252px;
}
.asif #sub-1 .upper h1 {
  color: var(--Text_White, #fff);
  text-align: center;
  /* H1 */
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
}
.asif #sub-1 .upper p {
  width: 770px;
  text-align: center;
  margin: auto;
}
.asif #sub-1 .bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 228px;
}
@media (max-width: 768px) {
  .asif #sub-1 .bottom {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .asif #sub-1 .bottom .item {
    width: 100%;
    margin-bottom: 20px;
  }
}
.asif #sub-1 .bottom .item {
  display: flex;
  flex-direction: column;
}
.asif #sub-1 .bottom p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
}
.asif #sub-1 .bottom h1 {
  color: var(--Text_White, #fff);
  text-align: center;
  margin-bottom: 0px;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}
.asif .sub2 {
  display: flex;
  background-color: #f5f6fc;
  height: 768px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .asif .sub2 {
    height: auto;
    flex-direction: column;
    padding: 20px 0;
  }
}
.asif .sub2 .wrap {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 80%;
}
@media (max-width: 768px) {
  .asif .sub2 .wrap {
    flex-direction: column;
  }
}
.asif .sub2 .wrap .chx1 {
  width: 45%;
}
.asif .sub2 .wrap .chx1 h1 {
  color: var(--Text_Black, #000);
  margin-top: 0px;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.asif .sub2 .wrap .chx1 p {
  color: var(--Text_Black, #000);
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  text-align: left;
  width: 338px;
  height: 230px;
  flex-shrink: 0;
}
.asif .sub2 .wrap .chx1 .ex {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: transparent;
}
@media (max-width: 768px) {
  .asif .sub2 .wrap .chx1 .ex {
    margin-top: 33px;
    margin-bottom: 72px;
  }
}
.asif .sub2 .wrap .chx2 {
  display: grid;
  width: 50%;
  gap: 8% 5%;
  width: 80%;
  padding-top: 60px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .asif .sub2 .wrap .chx2 {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .asif .sub2 .wrap .chx2 .card {
    width: 100%;
  }
}
.asif .sub2 .wrap .chx2 .card {
  display: flex;
}
.asif .sub2 .wrap .chx2 .card .con {
  margin-left: 20px;
}
.asif .sub2 .wrap .chx2 .card h4 {
  margin-top: 0px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.asif .sub2 .wrap .chx2 .card p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 270px;
  text-align: left;
  margin-top: -25px;
}
@media (max-width: 768px) {
  .asif #sub-1 {
    height: auto;
  }
  .asif #sub-1 .upper p {
    color: var(--Text_White, #fff);
    text-align: center;
    width: 346px;
    /* Text_Big */
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }
}

.gaurav {
  width: 100%;
  height: 1248px;
  flex-shrink: 0;
  margin: 0px;
  padding: 0px;
  background-color: rgb(196, 171, 175);
}

.outer {
  position: relative;
  margin-top: 64px;
  margin-left: 135px;
  margin-right: 135px;
  width: 1170px;
  height: 640px;
}

.inner {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.bitmap-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background: #434CCC;
  background-blend-mode: screen;
}

.message > h2 {
  color: var(Text_Black, #000);
  margin-left: 135px;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

@media (max-width: 375px) {
  #parent2 .gaurav {
    height: auto;
  }
  #parent2 .gaurav .about {
    padding: 0px 14px;
  }
  #parent2 .gaurav .about nav .links {
    justify-content: end;
    justify-items: end;
  }
  #parent2 .gaurav .about nav .links a {
    display: none;
  }
  #parent2 .gaurav .about nav .links button {
    display: none;
  }
  #parent2 .gaurav .about nav .links svg {
    align-items: center;
    flex-shrink: 0;
    display: block;
    position: absolute;
  }
  #parent2 .gaurav .about .upper2 p {
    text-align: left;
  }
}
@media (max-width: 375px) {
  #parent .mayank {
    height: auto;
  }
  #parent .mayank .one {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  #parent .mayank .one .mountain img {
    max-width: 100%;
  }
  #parent .mayank .nihil {
    height: auto;
    padding-right: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
  #parent .mayank .nihil .right1 {
    width: 100%;
  }
  #parent .mayank .nihil .right1 .ladder {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.mayank {
  height: 1535px;
  background-color: #929bce;
  border: 2px solid black;
}
.mayank * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mayank .one {
  margin: auto;
  margin-top: 143px;
  width: 1170px;
  height: 480px;
  display: grid;
  gap: 125px;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
}
.mayank .one .mountain {
  border: 1px solid black;
  width: 570px;
  height: 480px;
  background-size: cover;
  border-radius: 2px;
}
.mayank .one .right {
  border: 2px solid black;
  width: 470px;
  height: 437px;
}
.mayank .one .right .tantas {
  width: 81px;
  height: 24px;
  color: var(--Text_Black, #000);
}
.mayank .one .right .tantas h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.mayank .one .right .an {
  width: 411px;
  height: 128px;
  color: var(--Text_Black, #000);
  margin-top: 21px;
}
.mayank .one .right .an h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
}
.mayank .one .right .vix {
  width: 470px;
  height: 103px;
  flex-shrink: 0;
  margin-top: 29px;
}
.mayank .one .right .vix p {
  color: var(--Text_Black, #000);
  /* Text_Big */
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
.mayank .one .right .read {
  width: 170px;
  height: 48px;
  margin-top: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #434CCC;
}
.mayank .one .right .read .my {
  padding-top: 13px;
  padding-left: 43.5px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.mayank .one .right .read:hover {
  border: 3px solid #303ac9;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.mayank .line2 {
  height: 2px;
  opacity: 0.0974;
  background: #000;
  margin-top: 144px;
}
.mayank .nihil {
  height: 767px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mayank .nihil .left1 {
  width: 470px;
  height: 470px;
  margin-left: 135px;
  margin-top: 143px;
  border: 2px solid black;
}
.mayank .nihil .left1 .noluisse {
  color: var(--Text_Black, #000);
  width: 107px;
  height: 24px;
}
.mayank .nihil .left1 .noluisse h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.mayank .nihil .left1 .usu {
  width: 342px;
  height: 128px;
  color: #000;
  margin-top: 21px;
}
.mayank .nihil .left1 .usu h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
}
.mayank .nihil .left1 .level {
  margin-top: 45px;
}
.mayank .nihil .left1 .level .epi {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mayank .nihil .left1 .level .epi .epicuri {
  color: #000;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
.mayank .nihil .left1 .level .epi .b1 {
  color: var(--Text_Black, #000);
  text-align: right;
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}
.mayank .nihil .left1 .level .co {
  width: 470px;
  height: 10px;
  border-radius: 5px;
  background: #E9E9E9;
}
.mayank .nihil .left1 .level .co #a1 {
  width: 382px;
  height: 10px;
  background: #F1B505;
  border-radius: 5px;
  margin-top: 7px;
}
.mayank .nihil .left1 .level .co #a2 {
  width: 318px;
  height: 10px;
  background: #E94A47;
  border-radius: 5px;
}
.mayank .nihil .left1 .level .co #a3 {
  width: 182px;
  height: 10px;
  background: #428DFC;
  border-radius: 5px;
}
.mayank .nihil .right1 {
  width: 599px;
  height: 510px;
  margin-right: 135px;
  margin-top: 125px;
}
.mayank .nihil .right1 .ladder {
  border: 1px solid black;
}

.anusha {
  height: 752px;
  background-color: yellowgreen;
}

#parent2 {
  width: 100%;
  height: 2304px;
}/*# sourceMappingURL=styles.css.map */