$bgclr: #434ccc;

#parent {
  width: 100%;
  height: 6144px;
  box-sizing: border-box;
  background-color: rgb(169, 253, 225);
  
}
body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

@import "rahul.scss";
@import "asif.scss";
@import "gaurav.scss";
@import "mayank.scss";
@import "anusha.scss";

  


#parent2 {
  width: 100%;
  height: 2304px;
 
  background-color: #f5f6fc;
}

