#parent {
  width: 100%;
  height: 6144px;
  box-sizing: border-box;
  background-color: rgb(169, 253, 225);
}

body {
  margin: 0px;
  padding: 0px;
}

.rahul {
  height: 2608px;
  background-color: white;
}

.about {
  background-color: #434ccc;
  padding: 0px 135px;
}
.about nav {
  height: 80px;
  background-color: #434ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about nav .logo {
  cursor: pointer;
  width: 150px;
  height: 50px;
}
.about nav .logo img {
  top: 20px;
  left: 0px;
  width: 150px;
}
.about nav .logo h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  cursor: pointer;
}
.about nav .links {
  width: 534px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.about nav .links a {
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.about nav .links button {
  height: 48px;
  width: 170px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(67, 76, 204);
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.about nav .links .material-symbols-outlined {
  color: white;
  font-size: 36px;
  margin-top: -20px;
  display: none;
}

.upper2 {
  height: 224px;
  background-color: #434ccc;
}
.upper2 h1 {
  padding-top: 47px;
  color: var(--Text_White, #fff);
  text-align: center;
  /* H1 */
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  margin-bottom: 0px;
}
.upper2 p {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
}

.needtosee {
  display: none;
}

@media (max-width: 375px) {
  #parent .rahul {
    height: auto;
  }
  #parent .rahul .about {
    padding: 0px 14px;
  }
  nav {
    width: 90%;
    height: 32px;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
  }
  nav .logo {
    width: 62px;
    height: 32px;
    position: absolute;
  }
  #parent .rahul .about nav .links > a {
    display: none;
  }
  #parent .rahul .about nav .links {
    justify-content: end;
    justify-items: end;
    align-items: center;
  }
  #parent .rahul .about nav .links .material-symbols-outlined {
    display: block;
  }
  #parent .rahul .about nav .links .material-symbols-outlined:hover ~ #hoverlinks {
    display: flex;
  }
  #parent .rahul .about nav .links #hoverlinks {
    width: 100px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    top: 80px;
    flex-direction: column;
    gap: 27px;
    padding: 10px 0px 0px 20px;
    border-radius: 8px;
  }
  #parent .rahul .about nav .links button {
    display: none;
  }
  #parent .rahul .about nav .links svg {
    align-items: center;
    flex-shrink: 0;
    display: block;
    position: absolute;
    margin-top: 15px;
  }
  #parent .rahul .standv {
    margin-bottom: -300px;
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #parent .rahul .standv .contentdebet {
    padding-left: 10px;
  }
  #parent .rahul .standv .contentdebet .headcheck {
    font-size: 50px;
  }
  #parent .rahul .standv .contentdebet .quo .needtosee {
    display: block;
  }
  #parent .rahul .standv .contentdebet .subcontent {
    display: flex;
    flex-direction: column;
  }
  #parent .rahul .twoperson img {
    position: relative;
    top: 0px;
    left: -170px;
    width: 110%;
  }
  #parent .buscar {
    height: auto;
  }
  #parent .buscar .onetwo {
    margin-left: -50px;
    font-size: 42px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0px 5px;
  }
  #parent .buscar .tunekya {
    margin-top: 0px;
  }
  #parent .buscar .tunekya br {
    display: none;
  }
  #parent .house {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
    padding: 0px 10px;
  }
  #parent .shakehands {
    height: -moz-fit-content;
    height: fit-content;
    grid-template-columns: repeat(1, 1fr);
  }
  #parent .handimg {
    margin-left: -120px;
    margin-bottom: 0px;
  }
  #parent .handimg img {
    width: 100%;
  }
  #parent .handcontent {
    margin-top: 0px;
    padding: 10px;
  }
  #parent .handcontent .deterr {
    font-size: 42px;
  }
  #parent .handcontent .mazim {
    font-size: 18px;
  }
  #parent .handcontent .mazim .nextlinedrop {
    display: block;
  }
  #parent .handcontent .mazim .shouldshow {
    display: block;
  }
  #parent .handcontent .mazim .shouldhide {
    display: none;
  }
  #parent .handcontent .learnkaro {
    margin-left: 10px;
  }
}
.standv {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f5f6fc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 100px;
  padding-top: 80px;
  padding-left: 135px;
}
.standv .contentdebet .homero {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 93px;
  height: 24px;
  margin-bottom: -50px;
}
.standv .contentdebet .headcheck {
  font-size: 56px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 411px;
  height: 128px;
}
.standv .contentdebet .quo {
  font-size: 20px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 570px;
  height: 83px;
}
.standv .contentdebet .subcontent {
  display: flex;
  margin-top: -50px;
}

.number {
  font-size: 40px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 86px;
  height: 48px;
}

.vocent {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 700;
  color: rgb(0, 0, 0);
  width: 114px;
  height: 24px;
}

.nominavi {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 270px;
  height: 49px;
  opacity: 50%;
}

.twoperson img {
  position: absolute;
  right: 105px;
  top: 355px;
  left: 520px;
}

.notone {
  height: 1px;
  opacity: 0.0974;
  background: #000;
  margin-bottom: 0px;
}

.buscar {
  height: 768px;
  background-color: #f5f6fc;
  margin-top: -56px;
  text-align: center;
  padding-top: 100px;
  justify-content: center;
}
.buscar .onetwo {
  font-size: 56px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 469px;
  height: 64px;
  margin-left: 520px;
}
.buscar .house {
  margin: 0px 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.buscar .house .housemini {
  background-color: white;
  padding: 60px 0px 0px 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.buscar .house .housemini .househead {
  font-size: 24px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 162px;
  height: 32px;
}
.buscar .house .housemini .nexthead {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 306px;
  height: 48px;
  opacity: 50%;
  text-align: left;
}
.buscar .house .housemini .learnkaro {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: left;
  height: 24px;
}

.shakehands {
  height: 768px;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 100px;
  padding-bottom: 170px;
  background-color: #f5f6fc;
}
.shakehands .handimg {
  height: 570px;
}
.shakehands .handcontent {
  height: 570px;
  margin-top: 127px;
}
.shakehands .handcontent .inci {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  color: rgb(0, 0, 0);
  width: 127px;
  height: 24px;
}
.shakehands .handcontent .deterr {
  font-size: 56px;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 478px;
  height: 64px;
}
.shakehands .handcontent .mazim {
  font-size: 20px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 570px;
  height: 69px;
}
.shakehands .handcontent .mazim .nextlinedrop {
  display: none;
}
.shakehands .handcontent .mazim .shouldshow {
  display: none;
}
.shakehands .handcontent .starcontent {
  display: flex;
  gap: 23px;
  margin-bottom: 2px;
}
.shakehands .handcontent .starcontent .starcontentmaterial {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 216px;
  height: 24px;
  opacity: 50%;
}
.shakehands .handcontent .explorekaro {
  margin-top: 50px;
  background-color: #434ccc;
  cursor: pointer;
  width: 170px;
  height: 48px;
  font-family: "DM Sans";
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
.shakehands .handcontent .learnkaro {
  margin-left: 30px;
  border-color: #BCC0ED;
  cursor: pointer;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  color: #434ccc;
  font-family: "DM Sans";
  font-weight: 700;
  background-color: #f5f6fc;
}

#hoverlinks {
  width: 100px;
  height: 180px;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 5px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 10px 0px 0px 20px;
  border-radius: 8px;
  display: none;
}
#hoverlinks a {
  text-decoration: none;
  color: #434ccc;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.asif {
  height: 1248px;
  background-color: #888bb6;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 8, 8);
}
@media (max-width: 768px) {
  .asif {
    height: auto;
  }
}
.asif h2 {
  color: var(--Text_White, #fff);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.asif p {
  color: var(--Text_White, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.asif #sub-1 {
  display: flex;
  flex-direction: column;
  background: #434ccc;
  height: 480px;
}
@media (max-width: 768px) {
  .asif #sub-1 {
    height: auto;
  }
}
.asif #sub-1 .upper {
  text-align: center;
  height: 252px;
}
.asif #sub-1 .upper h1 {
  color: var(--Text_White, #fff);
  text-align: center;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
}
.asif #sub-1 .upper p {
  width: 770px;
  text-align: center;
  margin: auto;
}
.asif #sub-1 .bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 228px;
  width: 85%;
  margin: auto;
}
@media (max-width: 768px) {
  .asif #sub-1 .bottom {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .asif #sub-1 .bottom .item {
    width: 100%;
    margin-bottom: 20px;
  }
}
.asif #sub-1 .bottom .item {
  display: flex;
  flex-direction: column;
}
.asif #sub-1 .bottom p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
}
.asif #sub-1 .bottom h1 {
  color: var(--Text_White, #fff);
  text-align: center;
  margin-bottom: 0px;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}
.asif .sub2 {
  display: flex;
  background-color: #f5f6fc;
  height: 768px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .asif .sub2 {
    height: auto;
    flex-direction: column;
    padding: 20px 0;
  }
}
.asif .sub2 .wrap {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 85%;
  margin: auto;
}
@media (max-width: 768px) {
  .asif .sub2 .wrap {
    flex-direction: column;
  }
}
.asif .sub2 .wrap .chx1 {
  width: 45%;
  margin-top: -28px;
}
.asif .sub2 .wrap .chx1 h5 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.asif .sub2 .wrap .chx1 h3 {
  color: var(--Text_Black, #000);
  margin-top: 30px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
@media (max-width: 768px) {
  .asif .sub2 .wrap .chx1 h3 {
    color: var(--Text_Black, #000);
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
  }
}
.asif .sub2 .wrap .chx1 p {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 338px;
  height: 230px;
  flex-shrink: 0;
  margin-top: -34px;
}
.asif .sub2 .wrap .chx1 .ex {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-color: #bcc0ed;
  cursor: pointer;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background-color: transparent;
  color: #434ccc;
  font-family: "DM Sans";
  font-weight: 700;
  background-color: #f5f6fc;
}
@media (max-width: 768px) {
  .asif .sub2 .wrap .chx1 .ex {
    margin-top: 33px;
    margin-bottom: 72px;
  }
}
.asif .sub2 .wrap .chx2 {
  display: grid;
  width: 50%;
  gap: 8% 8%;
  width: 80%;
  padding-top: 60px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .asif .sub2 .wrap .chx2 {
    height: auto;
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 300px;
  }
  .asif .sub2 .wrap .chx2 .card {
    width: 100%;
  }
}
.asif .sub2 .wrap .chx2 .card {
  display: flex;
}
.asif .sub2 .wrap .chx2 .card .con {
  margin-left: 20px;
}
.asif .sub2 .wrap .chx2 .card h4 {
  margin-top: 0px;
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.asif .sub2 .wrap .chx2 .card p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 270px;
  text-align: left;
  margin-top: -25px;
}
@media (max-width: 768px) {
  .asif #sub-1 {
    height: auto;
  }
  .asif #sub-1 .upper p {
    color: var(--Text_White, #fff);
    text-align: center;
    width: 346px;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

@media (max-width: 375px) {
  #parent2 .gaurav {
    height: auto;
  }
  #parent2 .gaurav .about {
    padding: 0px 14px;
  }
  #parent2 .gaurav .about nav .links > a {
    display: none;
  }
  #parent2 .gaurav .about nav .links {
    justify-content: end;
    justify-items: end;
  }
  #parent2 .gaurav .about nav .links .material-symbols-outlined {
    display: block;
  }
  #parent2 .gaurav .about nav .links .material-symbols-outlined:hover ~ #hoverlinkss {
    display: flex;
  }
  #parent2 .gaurav .about nav .links #hoverlinkss {
    width: 100px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    top: 80px;
    flex-direction: column;
    gap: 27px;
    padding: 10px 0px 0px 20px;
    border-radius: 8px;
  }
  #parent2 .gaurav .about nav .links button {
    display: none;
  }
  #parent2 .gaurav .about nav .links svg {
    align-items: center;
    flex-shrink: 0;
    display: block;
    position: absolute;
  }
  #parent2 .gaurav .about .upper2 p {
    text-align: left;
  }
}
#hoverlinkss {
  width: 100px;
  height: 180px;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 5px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 10px 0px 0px 20px;
  border-radius: 8px;
  display: none;
}
#hoverlinkss a {
  text-decoration: none;
  color: #434ccc;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.gaurav {
  width: 100%;
  height: 1552px;
  flex-shrink: 0;
  margin: 0%;
  background-color: #f5f6fc;
}

.outer {
  position: relative;
  margin: 0px;
  padding-left: 165px;
  padding-right: 135px;
  width: 1440px;
  height: 1248px;
  flex-shrink: 0;
}

.map {
  position: relative;
  margin-top: 64px;
  width: 1170px;
  height: 640px;
  background-image: url(bitmap@2x.png);
  background-size: cover;
  flex-shrink: 0;
}

.pointers {
  position: absolute;
  width: 72px;
  height: 72px;
  margin-left: 549px;
  margin-top: 284px;
  margin-bottom: 284px;
  justify-items: center;
  align-items: center;
}
.pointers .op1 {
  position: absolute;
  width: 72px;
  height: 72px;
}

.mainD {
  margin-top: 63px;
  width: 1170px;
  height: 404px;
  display: flex;
}

.message1 {
  margin-top: 0%;
  padding-bottom: 0%;
  width: 835px;
  height: 404px;
}
.message1 h2 {
  color: var(--Text_Black, #161515);
  /* H2 */
  margin: 0%;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.colect {
  margin-top: 0px;
  width: 835px;
  height: 76px;
  display: inline-block;
}

.name1 {
  width: 401px;
  height: 76px;
  flex-shrink: 0;
  display: inline-block;
}

.email1 {
  display: inline-block;
  width: 401px;
  height: 76px;
  margin-left: 22.5px;
}

.name2 {
  width: 401px;
  height: 48px;
  flex-shrink: 0;
  margin-top: 28px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
}

::-moz-placeholder {
  color: #DADADA;
}

::placeholder {
  color: #DADADA;
}

input[type=text] {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.textarea {
  width: 834px;
  height: 172px;
  flex-shrink: 0;
}

.textarea1 {
  margin-top: 28px;
  width: 834px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.bt1 {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  margin-top: 45px;
  border-radius: 5px;
  background: var(--Primary_1, #434CCC);
  border-color: #434CCC;
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.info1 {
  height: 404px;
  margin: 0%;
  margin-left: 60px;
  width: 270px;
}
.info1 h2 {
  color: var(--Text_Black, #000);
  margin: 0%;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.lok {
  width: 270px;
  height: 49px;
  margin-top: 36px;
  display: flex;
}

.call {
  margin-top: 25px;
  width: 270px;
  height: 49px;
  display: flex;
}

.masg {
  margin-top: 25px;
  width: 270px;
  height: 49px;
  display: flex;
}

.symb {
  margin-top: 47px;
  width: 270px;
  height: 49px;
}

.lok2 {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.masg2 {
  margin-left: 22px;
  width: 200px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.symb2 {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
}

.num1 {
  width: 200px;
  color: var(--Text_Black, #000);
  margin-left: 22px;
  margin-top: 4%;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.symb3 {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
}

.masg3 {
  width: 200px;
  height: 24px;
  color: var(--Text_Black, #000);
  margin-top: 10px;
  margin-left: 22px;
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.allsymb {
  margin-top: 47px;
  width: 270px;
  height: 49px;
  flex-shrink: 0;
  display: flex;
}

.allsymb1 {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.f1 {
  position: absolute;
  width: 9px;
  height: 18px;
  flex-shrink: 0;
  fill: #FFF;
  padding-left: 1%;
  padding-top: 0.7%;
}

.allsymb2 {
  margin-left: 8px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.twe1 {
  position: absolute;
  width: 18px;
  height: 15px;
  flex-shrink: 0;
  fill: #FFF;
  padding-top: 7px;
  padding-left: 7px;
}

.snap1 {
  position: absolute;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  fill: #FFF;
  padding-top: 7px;
  padding-left: 7px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  #parent2 .gaurav .outer {
    padding-left: 14px;
    padding-right: 14px;
  }
  #parent2 .gaurav .outer .map {
    width: 347px;
    height: 190px;
  }
  #parent2 .gaurav .outer .map .pointers {
    margin-left: 138px;
    margin-top: 59px;
  }
  #parent2 .gaurav .outer .map .pointers .op1 {
    width: 72px;
    height: 72px;
  }
  #parent2 .gaurav .outer .mainD {
    margin-top: 44px;
    width: 347px;
    height: 918px;
    display: block;
  }
  #parent2 .gaurav .outer .mainD .message1 {
    width: 347px;
    height: 438px;
  }
  #parent2 .gaurav .outer .mainD .message1 .h2 {
    font-size: 40px;
    line-height: 48px; /* 120% */
  }
  #parent2 .gaurav .outer .mainD .message1 .colect {
    width: 346px;
    height: 140px;
    margin: 0%;
    display: block;
  }
  #parent2 .gaurav .outer .mainD .message1 .colect .name1 {
    width: 346px;
    height: 76px;
  }
  #parent2 .gaurav .outer .mainD .message1 .colect .name1 .name2 {
    margin: 0%;
    margin-top: 38px;
    width: 346px;
    height: 48px;
  }
  #parent2 .gaurav .outer .mainD .message1 .colect .email1 {
    width: 346px;
    height: 76px;
    margin: 0%;
  }
  #parent2 .gaurav .outer .mainD .message1 .colect .email1 .name2 {
    margin: 0%;
    margin-top: 28px;
    width: 346px;
    height: 48px;
  }
  #parent2 .gaurav .outer .mainD .message1 .textarea {
    width: 347px;
    height: 172px;
  }
  #parent2 .gaurav .outer .mainD .message1 .textarea .textarea1 {
    margin-top: 28px;
    width: 347px;
    height: 172px;
  }
  #parent2 .gaurav .outer .mainD .message1 .bt1 {
    margin-top: 70px;
  }
  #parent2 .gaurav .outer .mainD .info1 {
    width: 347px;
    height: 404px;
    margin: 0%;
    margin-top: 150px;
  }
  #parent2 .gaurav .outer .mainD .info1 .h2 {
    font-size: 40px;
    line-height: 48px; /* 120% */
  }
}
@media (max-width: 375px) {
  #parent .mayank .line1 {
    height: 2px;
    opacity: 0.0974;
    margin-bottom: 80px;
  }
  #parent .mayank {
    height: auto;
  }
  #parent .mayank .one {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 16px;
    gap: 0px;
  }
  #parent .mayank .one .mountain {
    padding: 14px;
    height: auto;
  }
  #parent .mayank .one .mountain img {
    max-width: 374px;
    border-radius: 2px;
  }
  #parent .mayank .one .right {
    max-width: 374px;
    padding: 14px;
  }
  #parent .mayank .one .right .tantas {
    margin-top: 28px;
  }
  #parent .mayank .one .right .an {
    margin-top: 19px;
  }
  #parent .mayank .one .right .an h2 {
    font-size: 40px;
  }
  #parent .mayank .one .right .vix {
    width: 346px;
  }
  #parent .mayank .one .right .vix p {
    font-size: 20px;
  }
  #parent .mayank .one .right .read {
    width: 178px;
    height: 48px;
    margin-top: 54px;
  }
  #parent .mayank .one .right .read .my {
    font-size: 14px;
  }
  #parent .mayank .line2 {
    height: 2px;
    opacity: 0.0974;
    margin-top: 80px;
  }
  #parent .mayank .nihil {
    width: 374px;
    height: auto;
    display: grid;
    margin-bottom: 68px;
    grid-template-columns: repeat(1, 1fr);
  }
  #parent .mayank .nihil .left1 {
    max-width: 374px;
    padding: 14px;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
  }
  #parent .mayank .nihil .left1 .noluisse {
    margin-top: 63px;
  }
  #parent .mayank .nihil .left1 .noluisse h5 {
    font-size: 16px;
  }
  #parent .mayank .nihil .left1 .usu {
    margin-top: 19px;
  }
  #parent .mayank .nihil .left1 .usu h2 {
    font-size: 40px;
  }
  #parent .mayank .nihil .left1 .level {
    margin-bottom: 53px;
  }
  #parent .mayank .nihil .left1 .level .epi {
    width: 346px;
    height: auto;
  }
  #parent .mayank .nihil .left1 .level .epi .epicuri {
    width: 64px;
    height: auto;
    font-size: 20px;
  }
  #parent .mayank .nihil .left1 .level .epi .epicuri #b1 {
    width: 34px;
    height: auto;
    font-size: 16px;
  }
  #parent .mayank .nihil .left1 .level .co {
    width: 346px;
    border-radius: 5px;
  }
  #parent .mayank .nihil .left1 .level .co #a1 {
    width: 281px;
    border-radius: 5px;
  }
  #parent .mayank .nihil .left1 .level .co #a2 {
    width: 234px;
    border-radius: 5px;
  }
  #parent .mayank .nihil .left1 .level .co #a3 {
    width: 134px;
    border-radius: 5px;
  }
  #parent .mayank .nihil .right1 {
    width: 100%;
    padding: 14px;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
.mayank {
  height: 1535px;
  background-color: #f5f6fc;
  border: 2px solid #f5f6fc;
}
.mayank * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mayank .line1 {
  height: 2px;
  opacity: 0.0974;
  background: #000;
  margin-bottom: 143px;
}
.mayank .one {
  margin: auto;
  margin-top: 143px;
  width: 81%;
  height: 480px;
  display: grid;
  gap: 8%;
  grid-template-columns: 50% 42%;
}
.mayank .one .mountain {
  height: 480px;
  background-size: cover;
  border-radius: 2px;
}
.mayank .one .mountain img {
  width: 100%;
}
.mayank .one .right {
  height: 437px;
}
.mayank .one .right .tantas {
  height: 24px;
  color: var(--Text_Black, #000);
  margin-top: 67px;
}
.mayank .one .right .tantas h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.mayank .one .right .an {
  height: 128px;
  color: var(--Text_Black, #000);
  margin-top: 21px;
}
.mayank .one .right .an h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.mayank .one .right .vix {
  width: 470px;
  height: 103px;
  flex-shrink: 0;
  margin-top: 29px;
}
.mayank .one .right .vix p {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.mayank .one .right .read {
  width: 170px;
  height: 48px;
  margin-top: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #434CCC;
  text-align: center;
}
.mayank .one .right .read .my {
  padding-top: 13px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.mayank .one .right .read:hover {
  border: 3px solid #303ac9;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.mayank .line2 {
  height: 2px;
  opacity: 0.0974;
  background: #000;
  margin-top: 144px;
}
.mayank .nihil {
  height: 767px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mayank .nihil .left1 {
  width: 470px;
  height: 470px;
  margin-left: 120px;
  margin-top: 143px;
}
.mayank .nihil .left1 .noluisse {
  color: var(--Text_Black, #000);
  width: 107px;
  height: 24px;
}
.mayank .nihil .left1 .noluisse h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.mayank .nihil .left1 .usu {
  width: 342px;
  height: 128px;
  color: #000;
  margin-top: 21px;
}
.mayank .nihil .left1 .usu h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.mayank .nihil .left1 .level {
  margin-top: 45px;
}
.mayank .nihil .left1 .level .epi {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mayank .nihil .left1 .level .epi .epicuri {
  color: #000;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.mayank .nihil .left1 .level .epi .b1 {
  color: var(--Text_Black, #000);
  text-align: right;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.mayank .nihil .left1 .level .co {
  width: 470px;
  height: 10px;
  border-radius: 5px;
  background: #E9E9E9;
}
.mayank .nihil .left1 .level .co #a1 {
  width: 382px;
  height: 10px;
  background: #F1B505;
  border-radius: 5px;
  margin-top: 7px;
}
.mayank .nihil .left1 .level .co #a2 {
  width: 318px;
  height: 10px;
  background: #E94A47;
  border-radius: 5px;
}
.mayank .nihil .left1 .level .co #a3 {
  width: 182px;
  height: 10px;
  background: #428DFC;
  border-radius: 5px;
}
.mayank .nihil .right1 {
  width: 559px;
  height: 510px;
  margin-right: 50px;
  margin-top: 125px;
}
.mayank .nihil .right1 .ladder {
  width: 100%;
}

.main-footer {
  height: 752px;
}

@media screen and (min-width: 390px) and (max-width: 769px) {
  body {
    padding: 0%;
    margin: 0%;
    width: 100%;
  }
}
.footer-first {
  background: #ffdd78;
  width: 100%;
  height: 352px;
  padding: 0%;
  margin: 0%;
}

@media screen and (min-width: 970px) and (max-width: 1330px) {
  .footer-first {
    width: 100%;
    height: 302px;
  }
}
@media screen and (min-width: 390px) and (max-width: 769px) {
  .footer-first {
    width: 100%;
    height: 480px;
  }
}
.footer-second {
  width: 100%;
  height: 400px;
  padding: 0%;
  margin: 0%;
  background-color: #f5f5f5;
  margin: auto;
}

.footer-sub {
  background-color: #f5f5f5;
  width: 80%;
  display: grid;
  padding-top: 5%;
  grid-template-areas: "fir sec thir fou" "fir sec thir fou";
  justify-content: space-around;
  margin: auto;
  gap: 12%;
}
.footer-sub .footer-sub div:nth-child(1) {
  grid-area: fir;
}
.footer-sub .footer-sub div:nth-child(2) {
  grid-area: sec;
}
.footer-sub .footer-sub div:nth-child(3) {
  grid-area: thir;
}
.footer-sub .footer-sub div:nth-child(4) {
  grid-area: fou;
}
.footer-sub .social-media > img {
  margin-right: 10px;
}

.fine {
  display: flex;
  gap: 8%;
  align-items: center;
  margin-bottom: 39px;
}
.fine p {
  color: rgb(0, 0, 0);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}
.fine #data1 {
  color: #000;
  margin-top: 0px;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.fine #dateee {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0px;
}

h4 {
  color: rgb(15, 15, 15);
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.footer-sub > div > p {
  color: black;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 50%;
}

.footer-sub > div > h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (min-width: 390px) and (max-width: 769px) {
  .footer-second {
    width: 100%;
    height: 720px;
    padding: 0%;
    margin: 0%;
    background-color: #f5f5f5;
    margin: auto;
  }
  .footer-sub {
    width: 80%;
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-areas: "fir fir" "sec thir" "fou  fou";
    margin: auto;
    gap: 1%;
  }
  .footer-sub div:nth-child(1) {
    grid-area: fir;
  }
  .footer-sub div:nth-child(2) {
    grid-area: sec;
  }
  .footer-sub div:nth-child(3) {
    grid-area: thir;
  }
  .footer-sub div:nth-child(4) {
    grid-area: fou;
  }
  .social-media > img {
    margin-right: 10px;
  }
}
.end {
  width: auto;
  height: 70px;
  padding: 0px 140px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.end p {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  color: rgb(0, 0, 0);
  opacity: 60%;
  height: 24px;
}

@media screen and (min-width: 390px) and (max-width: 769px) {
  .end {
    width: 100%;
    height: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
  }
  .end :nth-child(2) {
    margin-top: -6px;
  }
  .end p {
    color: rgb(168, 169, 173);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
  }
}
#child-footer {
  display: flex;
  margin: 0px 135px 0px 135px;
}

.child-footer-1 {
  width: 46%;
  padding-top: 3.5%;
}
.child-footer-1 h5 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.child-footer-1 h2 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.child-footer-2 {
  width: 54%;
}

.child-footer-2 #button-1 {
  width: 170px;
  height: 48px;
  color: #fff;
  background-color: #434ccc;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.child-footer-2 input {
  margin-top: 25%;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
  width: 370px;
  height: 48px;
  margin-right: 30px;
}

@media screen and (min-width: 970px) and (max-width: 1130px) {
  .child-footer-2 #button-1 {
    width: 90px;
    height: 40px;
    color: #fff;
    background-color: #434ccc;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
  }
  .child-footer-2 input {
    margin-top: 25%;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: #fff;
    width: 170px;
    height: 40px;
  }
  .child-footer-1 {
    width: 45%;
    padding-top: 3.2%;
  }
  .child-footer-1 h5 {
    color: #000;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 340;
    line-height: 20px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
  }
  .child-footer-1 h2 {
    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 340;
    line-height: 50px;
  }
}
@media screen and (min-width: 390px) and (max-width: 769px) {
  #child-footer {
    display: block;
    margin-left: 11%;
  }
  .child-footer-1 {
    width: 85%;
    padding-top: 7%;
  }
  .child-footer-1 h5 {
    color: #000;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }
  .child-footer-1 h2 {
    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: 40px;
  }
  .child-footer-2 {
    width: 90%;
  }
  .child-footer-2 input {
    margin-top: 10%;
    margin-left: 0%;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: #fff;
    width: 95%;
    height: 48px;
    margin-bottom: 5%;
  }
  .child-footer-2 #button-1 {
    width: 50%;
    height: 48px;
    color: #fff;
    background-color: #434ccc;
    text-align: center;
    font-family: DM Sans;
    font-size: 90%;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none;
    border-radius: 5px;
  }
}
.divide {
  width: 100%;
  height: 1px;
  opacity: 0.0989;
  background: #000;
}

#parent2 {
  width: 100%;
  height: 2304px;
  background-color: #f5f6fc;
}/*# sourceMappingURL=styles.css.map */